.site-footer {
  width: 100%;
  height: 600px;
  background-color: #f8f9fa;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
  margin-left: 14%;
  bottom: 0;
}

.footer-block {
  width: 300px;
}

.footer-logo {
  width: 100px;
  margin-bottom: 10px;
}

.footer-list {
  width: 200px;
  list-style: none;
  padding: 0;
}
.list-inner {
 margin-left: -40%;
  float: left;
  text-align: left !important;
  padding: 5px 0;
  width: 300px !important;
}
.list-inner1 {
  margin-left: -40%;
   float: left;
   text-align: left !important;
   padding: 5px 0;
   width: 300px !important;
 }
 .list-inner:hover ,.list-inner1:hover{
  cursor: pointer;
 }
.footer address {
  font-style: normal;
  line-height: 1.6;
}
.service-footer{
  margin-left: 20px;
}
.pic {
  width: 120%;
  height: 20%;
  background-image: url("../../imgs/logoSaleNoti.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1500px) {
  .site-footer {
    width: 100%;
    height: 600px;
    background-color: #f8f9fa;
    padding: 20px 0;
    font-family: Arial, sans-serif;
  }
  .footer-container {
    margin-left: 4%;
    font-size: 1rem;
  }
  .pic {
    width: 115%;
  }
}
