.sidebar {
  width: 15%;
  height: 100vh;
  background-color: #4d4b4b;
}
.sidebar-main {
  margin-top: 5%;
  color: #fff;
  background-color: #4d4b4b;
  width: 100%;
  max-height: 100%;
  height: calc(100% - 7%);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1%;
}
.item1 {
  padding-left: 2%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5%;
  font-size: 2vh;
  margin-left: 2%;
  margin-right: 2%;
  height: 5%;
  width: 100%;
  background-color: #4d4b4b;
  text-decoration: none;
  /* background-color: #fff; */
}
.item1__content {
  text-decoration: none;
  color: #fff;
}
.header__logo {
  display: flex;
  align-items: center;
  column-gap: 1%;
  margin-right: 20px;
  background-color: rgba(57, 58, 62, 255);
  height: 6vh;
  width: 100%;
}

.logo__picture {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.logo {
  border: unset;
  background-color: rgba(57, 58, 62, 255);
  background-image: url(../imgs/dentistry.jpg);
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.item1-inner{
  margin-top: -5px;
  margin-left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fff; */
  width: 200px;
  height: 35px;
}
.item1-inner:hover {
  color: rgba(57, 58, 62, 255);
}
.item1:hover {
  border: 1px;
  background-color: white;
  text-decoration: none;
  color: rgba(57, 58, 62, 255);
}

.item1:active{
  border: 1px;
  background-color: white;
  text-decoration: none;
  color: rgba(57, 58, 62, 255);
}
.item1:focus,
.item1__content:focus, .item1:active ,.item1__content:active{
  border: 1px;
  z-index: 1;
  background-color: white;
  text-decoration: none;
  color: rgba(57, 58, 62, 255);
}

@media (max-width:1300){
  item1-inner{
    margin-top: -5px;
    margin-left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #fff; */
    width: 150px;
    height: 35px;
  }
}